:root {
	--rosewater: #ea6962;
	--flamingo:  #ea6962;
	--red: #ea6962;
	--maroon: #ea6962;
	--pink: #d3869b;
	--mauve: #d3869b;
	--peach: #e78a4e;
	--yellow: #d8a657;
	--green: #a9b665;
	--teal: #89b482;
	--sky: #89b482;
	--sapphire: #89b482;
	--blue: #7daea3;
	--lavender: #7daea3;
	--text: #ebdbb2;
	--subtext1: #d5c4a1;
	--subtext0: #bdae93;
	--overlay2: #a89984;
	--overlay1: #928374;
	--overlay0: #595959;
	--surface2: #4d4d4d;
	--surface1: #404040;
	--surface0: #292929;
	--base: #1d2021;
	--mantle: #191b1c;
	/* --crust: #141617; */
	--crust: rgba(20, 22, 23, 0.5);
}
* {
	font-size: 12px;
	color: var(--subtext0);
	font-weight: 600;
	font-family: "0xProto Nerd Font";
	margin: 0;
	padding: 0;
}
.yasb-bar {
	padding: 0;
	margin: 0; 
    background-color: var(--crust);
}
.widget {
	padding: 0 12px;
	margin: 0;
}
.icon {
	font-size: 16px;
}
.widget .label {
	padding: 0px 2px; 
}
.apps-widget {
	padding: 0 4px 0 2px;
}
.komorebi-active-layout {
	padding: 0 4px 0 0;
}
.komorebi-active-layout .label {
	font-weight: 600;
	padding: 2px 0 0 0;
}
.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.komorebi-active-layout .widget-container {
	background-color: var(--crust);
	margin: 4px 0 4px 0;
	border-radius: 12px;
    border: 0px solid var(--surface1);
    padding: 0 8px;
}
.komorebi-workspaces .widget-container {
    border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
    margin-left: 4px;
}
.komorebi-workspaces {
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	padding: 0 4px 0 0;
}
.komorebi-workspaces .offline-status {
    color: var(--surface2);
    font-size: 12px;
    padding: 0 0 0 4px;
    font-weight: 600;
}
.komorebi-workspaces .ws-btn {
    border: none;
    background-color: transparent;
	margin: 0;
    font-size: 12px;
	color: var(--overlay1);
    height: 28px;
    width: 18px;
}
.komorebi-workspaces .ws-btn:hover {
    color: var(--subtext1);
}
.komorebi-workspaces .ws-btn.populated {
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: var(--lavender);
    border-radius: 5px;
    margin: 0 4px;
    font-size: 1px;
}
.komorebi-workspaces .ws-btn.active {
	color: transparent;
    background-color: var(--blue);
    width: 36px;
    height: 10px;
    margin: 0 4px;
    border-radius: 5px; 
}
.apps-widget .label {
	font-size: 14px;
	padding: 0 2px;
    color: var(--subtext0);
}
.apps-widget .label:hover {
	color: var(--text);
}
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: var(--surface2);
	font-weight: 600;
 
}
.power-menu-widget .label {
	color: var(--pink);
	font-size: 13px;
}
.power-menu-popup {
	background-color: transparent;
}
.power-menu-popup .button {
	padding: 0;
	width: 180px;
	height: 230px;
	border-radius: 8px;
	background-color: var(--base);
	color: var(--text);
	border-left: 4px solid rgba(58, 59, 83, 0);
    border-right: 4px solid rgba(58, 59, 83, 0);
    border-top: 8px solid rgba(58, 59, 83, 0);
    border-bottom: 8px solid rgba(58, 59, 83, 0);
	margin: 0px;
}
.power-menu-popup .button.hover {
	background-color: var(--surface0);
	border-left: 4px solid var(--surface0);
    border-right: 4px solid var(--surface0);
    border-top: 8px solid var(--surface0);
    border-bottom: 8px solid var(--surface0);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	color: var(--surface2);
 
}
.power-menu-popup .button .icon {
	font-size: 64px;
	padding-top: 32px;
	color: var(--surface2);
}
.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
	color: var(--red);
    margin: 0;
}
.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}
.github-widget .icon {
    font-size: 14px;
	color: var(--text);
}
.github-widget .icon.new-notification {
    color: var(--red);
}
.weather-widget,
.github-widget,
.volume-widget,
.wifi-widget,
.language-widget,
.battery-widget {
    padding: 0 6px;
}
.weather-widget .icon {
	font-size: 18px;
	margin: 0 2px 1px 0;
    color: var(--yellow);
}
.ai-widget {
	padding: 0 4px 0 4px;
    margin: 0;
}
.ai-widget .widget-container {
 	margin: 4px 0 4px 0;
	border-radius: 12px;
}
.ai-widget .icon {
	color: var(--sky);
	padding: 0 5px;
    font-size: 16px;
	margin: 0;
}
.ai-widget .icon:hover {
	color: #fff;
}
.taskbar-widget {
    padding: 0;
    margin: 0;
    border: none;
}
.taskbar-widget .widget-container {
    padding: 0 8px;
}
.taskbar-widget .app-container {
    padding: 0 6px;
    border: none;
    margin: 0;
}
.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}
.taskbar-widget .app-container.foreground {
    background-color: rgba(255, 255, 255, 0.1);
}
.taskbar-widget .app-container.flashing {
    background-color: rgba(255, 106, 106, 0.63);
}
.whkd-widget {
    padding: 0 6px 0 6px;
}
.whkd-widget .icon {
    font-size: 14px;
}
.wallpapers-widget {
    padding: 0 6px 0 6px;
}
.wallpapers-gallery-window {
    background-color: rgba(85, 42, 240, 0.01);
    border: 0;
    margin: 0;
}
.wallpapers-gallery-buttons {
    background-color: rgba(255, 255, 255, 0);
    color: var(--text);
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin: 0 8px 8px 8px;
    width: 600px;
}
.wallpapers-gallery-buttons:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 10px;
 
}
.wallpapers-gallery-image:hover {
    border: 4px solid var(--sapphire);
}
.wallpapers-gallery-image.focused {
    border: 4px solid var(--sapphire);
}
.update-check-widget {
    padding: 0 0px 0 0px;
}
.update-check-widget .icon {
    font-size: 14px;
}
.update-check-widget .widget-container.winget,
.update-check-widget .widget-container.windows {
    background: var(--maroon);
    margin: 7px 2px 7px 2px;
    border-radius: 9px;
    border: 2px solid var(--red);
}
.update-check-widget .widget-container.windows {
    background: var(--lavender);
    margin: 7px 2px 7px 2px;
    border-radius: 9px;
    border: 2px solid var(--blue);
}
.update-check-widget .widget-container.winget .icon,
.update-check-widget .widget-container.windows .icon {
    color: var(--base);
    margin: 0 1px 0 6px;
}
.update-check-widget .widget-container.winget .label,
.update-check-widget .widget-container.windows .label {
    margin: 0 6px 0 1px;
    color: var(--base);
    font-weight: 900;
    font-size: 14px;
}
.github-menu {
    background-color: rgba(17, 17, 27, 0.2);
    max-height: 500px;
    min-height: 500px;
    min-width: 420px;
}
.github-menu .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Segoe UI';
    padding: 8px;
    color: white;
    background-color: rgba(17, 17, 27, 0.75);
}
.github-menu .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 4px 8px 6px 8px;
    font-family: 'Segoe UI';
    color: var(--overlay2);
    background-color: rgba(17, 17, 27, 0.75);
}
.github-menu .contents {
    background-color: rgba(17, 17, 27, 0.2);
}
.github-menu .contents .item {
    min-height: 40px;
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}
.github-menu .contents .item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.github-menu .contents .item .title,
.github-menu .contents .item .description {
    color: var(--overlay2);
    font-family: 'Segoe UI';
}
.github-menu .contents .item .title {
    font-size: 14px;
    font-weight: 600; 
}
.github-menu .contents .item .description {
    font-size: 12px;
    font-weight: 500;
}
.github-menu .contents .item.new .title,
.github-menu .contents .item.new .description {
    color: #ffffff;
}
.github-menu .contents .item .icon {
    font-size: 16px;
    padding-right: 0;
    padding-left: 8px;
    padding-right: 4px;
    color: var(--overlay2);
}
.github-menu .contents .item.new .icon {
    color: #3fb950;
}
.calendar {
    background-color: rgba(20, 22, 23, 0.4);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: rgba(20, 22, 23, 0);
    color: rgba(235, 219, 178, 0.85);
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    border: none;
    outline: none;  
}
.calendar .calendar-table::item:selected {
    color: rgb(255, 255, 255);
    background-color: var(--blue);
    border-radius: 10px;
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: var(--text);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .week-label,
.calendar .holiday-label {
    font-size: 12px;
    font-weight: 600;
    color: rgba(235, 219, 178, 0.85);
}
.calendar .holiday-label {
    color: rgba(235, 219, 178, 0.85);
    font-weight: 700;
}
.calendar .month-label {
    font-weight: normal;
}
.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: var(--text);
    margin-top: -20px;
}
.context-menu {
    padding: 4px 4px;
	background-color: rgba(20, 22, 23, 0.6);
    border-radius: 9px;
}
.context-menu::icon:checked {
	width: 0px;
	height: 0px;
}
.context-menu::item:selected {
    background-color: rgba(20, 22, 23, 0.3);
	color: var(--text);
}
.menu-checkbox {
	color: var(--main);
    background-color: rgba(20, 22, 23, 0.6);
}
.menu-checkbox:hover {
	background-color: rgba(20, 22, 23, 0.3);
	color: var(--mainLight);
}
.context-menu::item,
.context-menu .menu-checkbox {
	border: none;
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 6px;
    min-width: 100px;
}
.context-menu .menu-checkbox .checkbox {
	padding-top: 2px;
	padding-bottom: 2px;
}
.context-menu .menu-checkbox:hover{
	color: var(--mainLight);
}
.tooltip {
    padding: 6px;
    color: var(--subtext0);
    font-size: 12px;
    background-color: rgba(20, 22, 23, 0.2);
    border: 0px;
    border-radius: 9px;
}
.wifi-widget .icon {
    color: var(--subtext0);
	min-width: 20px;
}
.wifi-widget {
	background: rgba(0, 0, 0, 0.01);
}
.wifi-menu {
    background-color: rgba(20, 22, 23, 0.4);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;
}
.wifi-menu .progress-bar {
    max-height: 2px;
}
.wifi-menu .progress-bar::chunk {
    background-color: var(--main);
}
.wifi-menu .header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 12px;
    background-color: rgba(20, 22, 23, 0.4);
    color: var(--text);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .error-message {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: rgba(255, 0, 0, 0.2);
	color: var(--text);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wifi-menu .wifi-list {
    background-color: rgba(20, 22, 23, 0.2);
    margin-right: 3px;
}
.wifi-menu .wifi-item {
    min-height: 35px;
    padding: 2px 12px;
    margin: 2px 4px;
}
.wifi-menu .wifi-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}
.wifi-menu .wifi-item[active=true] {
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
}
.wifi-menu .wifi-item[active=true]:hover {
    background-color: rgba(255, 255, 255, 0.17);
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
}
.wifi-menu .wifi-item .icon {
    font-size: 26px;
    margin-right: 10px;
}
.wifi-menu .wifi-item .name {
    font-weight: bold;
    color: var(--text);
    font-size: 14px;
    margin-right: 10px;
}
.wifi-menu .wifi-item .password {
	font-family: 'Segoe UI';
    background-color: transparent;
    font-size: 14px;
}
.wifi-menu .wifi-item .status {
    font-size: 14px;
}
.wifi-menu .wifi-item .strength {
    font-size: 14px;
}
.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}
.wifi-menu .wifi-item .connect {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: var(--text);
}
.wifi-menu .wifi-item .connect:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.wifi-menu .wifi-item .connect:pressed {
    background-color: rgba(255, 255, 255, 0.3);
}
.wifi-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
	background-color: rgba(20, 22, 23, 0.4);
    color: var(--subtext0);
}
.wifi-menu .footer .settings-button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    color: var(--subtext0);
}
.wifi-menu .footer .settings-button:hover {
	color: var(--subtext1);
}
.wifi-menu .footer .refresh-icon {
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: var(--subtext0);
}
.wifi-menu .footer .refresh-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.volume-widget .icon {
	background: rgba(0, 0, 0, 0.01);
    color: var(--subtext0);
	min-width: 18px;
}
.volume-widget .label {
	color: var(--mainLight);
	background: rgba(0, 0, 0, 0.01);
    font-weight: bold;
	min-width: 30px;
} 
.volume-slider {
    border-radius: 2px;
	border: none;
	color: var(--main);
	height: 5px;
}
.volume-slider::groove {
    height: 5px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
}
.volume-slider::handle{
	color: var(--mainLight);
	border-radius: 5px;
    margin: -5px 0;
	background: var(--blue);
    width: 10px;
    height: 10px;
} 
.volume-slider::groove:hover {
    height: 5px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
}
.audio-menu .volume-slider::sub-page {
	background: rgba(125, 174, 163, 0.5);
    border-radius: 2px;
    height: 5px;
}
.audio-menu {
    background-color:rgba(20, 22, 23, 0.5); 
}
.audio-container .device {
	color: var(--text);
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
	font-weight: bold;
    border-radius: 4px;
}
.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.15);
}
.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.audio-container .device.selected:hover {
	background-color: rgba(255, 255, 255, 0.17);
}
/* Container for application volumes (if is enabled) */
.audio-menu .apps-container {
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.062)
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 6px;
    margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-slider {
    border-radius: 2px;
	border: none;
	color: var(--main);
	height: 5px;
}
.audio-menu .apps-container .app-volume .app-slider::groove {
    height: 5px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
}
.audio-menu .apps-container .app-volume .app-slider::handle{
	color: var(--mainLight);
	border-radius: 5px;
    margin: -5px 0;
    background: var(--blue);
    width: 10px;
    height: 10px;
}
.audio-menu .apps-container .app-volume .app-slider::groove:hover {
    height: 5px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
}
.audio-menu .apps-container .app-volume .app-slider::sub-page {
	background: rgba(125, 174, 163, 0.5);
    border-radius: 2px;
    height: 5px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/* Toggle button for application volumes (if is enabled) */
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 5px;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
}
.audio-menu .toggle-apps.expanded {
    background-color: rgba(255, 255, 255, 0.1);
}
.audio-menu .toggle-apps:hover {
    background-color: rgba(255, 255, 255, 0.15);
    
}
.audio-menu .apps-container .app-volume .app-label {
    color: var(--subtext0);
	background: rgba(0, 0, 0, 0.01);
    font-weight: bold;
} /* Application label */
/* LANGUAGE Settings */
.language-widget .widget-container{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.language-widget .icon {
	background: rgba(0, 0, 0, 0.01);
    color: var(--subtext0);
    margin-right: 4px;
}
.language-widget .label {
	color: var(--subtext0);
	background: rgba(0, 0, 0, 0.01);
    font-weight: bold;
} 
.language-menu {
	background-color: rgba(20, 22, 23, 0.5);
    min-width: 300px;
}
.language-menu .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 12px;
	color: var(--text);
}
.language-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: var(--subtext0);
}
.language-menu .footer:hover {
    background-color: rgba(255, 255, 255, 0.1);
	color: var(--subtext0);
}
.language-menu .language-item {
    padding: 6px 12px;
    margin: 2px 4px;
}
.language-menu .language-item.active {
    background-color:rgba(255, 255, 255, 0.15);
    border-radius: 4px;
}
.language-menu .language-item:hover {
    background-color:rgba(255, 255, 255, 0.05);
	border-radius: 4px;
}
.language-menu .language-item.active:hover {
    background-color:rgba(255, 255, 255, 0.17);
    border-radius: 4px;
}
.language-menu .language-item .code {
    font-weight: 900;
    font-size: 14px;
    min-width: 40px;
    text-transform: uppercase;
	color: var(--mainLight);
}
.language-menu .language-item .icon {
    font-size: 16px;
    margin-right: 8px;
    color: var(--text);
}
.language-menu .language-item .name {
    font-weight: 600;
    font-size: 14px;
	color: var(--text);
}
.language-menu .language-item .layout {
    font-weight: 600;
    font-size: 12px;
	color: var(--subtext0);
}
